.feedback {
    max-width: 1170px;
    height: 700px;
    margin: 0 auto;
    padding: 15px;
}
.feedback__list {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.feedback__item {
    max-width: 370px;
}
.feedback__quote {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px; 
    display: flex;
    align-items: center;
    justify-content:center; 
    text-align: center;
    max-width: 370px;
    height: 180px;
    background-color: #86878B;
    border-radius: 10px;  
    
}
#triangle-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 10px solid #86878B;
    margin-left: 60px;
}
.feedback__customer {
    display: flex;   
}
.feedback__photo {
    margin-top: 66px;
    width: 70px;
    height: 70px;
    
}
.feedback__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-top: 66px;
    margin-left: 30px;
    max-width: 269px;
    height: 54px;
}
.feedback__position {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
    margin-left: 30px;
    text-align: left;
}
.feedback__quote_text{
    max-width: 370px;
    height: 105px;
}
.feadback__input {
    display: none;
}
.slider {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 410px;
    position: relative;
    margin-top: 2%;
}
.slider-content {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
}
.feadback__slider{
    display: none;
}
.slides {
    display: flex;
    width: 900px;
    height: 100%;
    position: relative;
    left: 0;
    transition-duration: 1s;
}
.slide {
    display: flex;
    width: 300px;
    height: 100%;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}
.controls {
    display: flex;
    position: absolute;
    bottom: 10px;
}
.dot {
    width: 9px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 1px solid gray;
    background-color: #ffff;
    margin: 0 20px;
}
#slide1:checked ~ .slider-content .slides {
    left: 0;
}
#slide2:checked ~ .slider-content .slides {
    left: -300px;
}
#slide3:checked ~ .slider-content .slides {
    left: -600px;
}
#slide1:checked ~ .controls > .dot1 {
    background-color: gray;
}
#slide2:checked ~ .controls > .dot2 {
    background-color: gray;
}
#slide3:checked ~ .controls > .dot3 {
    background-color: gray;
}
@media only screen and (max-width:1200px){ 
    .feedback {
        max-width: 992px;
    }
    .feedback__item {
        max-width: 317px;
    }
    .feedback__quote {
        font-size: 14px;
        line-height: 16px; 
        max-width: 317px;
        height: 180px;
    }
    .feedback__quote_text{
        max-width: 317px;
        height: 80px;
    }
    .feedback__photo{
        width: 63px;
        height: 63px;
    }
    .feedback__name {
        font-size: 18px;
        line-height: 25px;
        height: 36px;
    }
    .feedback__position {
        font-size: 14px;
        line-height: 16px;
    }
}
@media only screen and (max-width:990px){
    .feedback__item {
        max-width: 290px;
    }
    .feedback__quote {
        font-size: 14px;
        line-height: 16px; 
        max-width: 290px;
        height: 180px;
    }
}
@media only screen and (max-width:910px){
    .feedback__item {
        max-width: 278px;
    }
    .feedback__quote {
        font-size: 14px;
        line-height: 16px; 
        max-width: 278px;
        height: 180px;
    }
}

@media only screen and (max-width:860px) { 
    .feedback__list {
        display: none;
    }
    .feadback__slider{
        display: inline-block;
    }
    .slider{
        display: flex;
    }
    .feedback__quote {
        font-size: 14px;
        line-height: 16px; 
        height: 180px;
    }
    .feedback__item {
        max-width: 288px;
    }
    .feedback__name {
        font-size: 14px;
        line-height: 19px;
        margin-top: 66px;
        margin-left: 30px;
        max-width: 204px;
        height: 36px;
    }
    .feedback__position {
        font-size: 13px;
        line-height: 15px;
    }
}
