.footer {
	background-color: black;
	height: 164px;
}
.footer__content {
	margin: 0 auto;
	max-width: 1170px;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.footer__icons-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 593px;
}
.footer__img {
	height: 53px;
	width: 53px;
}
.footer__avthor {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: white;
}
@media only screen and (max-width:1200px){
	.footer__icons-block{
		width: 500px;
	}
	.footer__img {
		height: 45px;
		width: 45px;
	}
	.footer__avthor {
	font-size: 14px;
	line-height: 16px;
	}
}
@media only screen and (max-width:860px){
	.footer__icons-block {
		width: 300px;
	}
	.footer__img {
		height: 26px;
		width: 26px;
	}
	.footer__avthor {
	font-size: 14px;
	line-height: 16px;
	}
}
