.social {
    background-color: #F8EFEF;
	height: 140px;
}
.social__content {
	display: flex;
	margin:0 auto;
	height: 100%;
	max-width: 1170px;
}

.social__text-block {
	width: 470px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}
.social__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.social__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;	
}
.social__icons {
	height: 100%;
	width: calc(100% - 470px);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.social__link{
	width: 70px;
	height: 70px;
}
.social__link:hover {
	background-color: rgb(7, 7, 7);
}
@media only screen and (max-width:1200px){
	.social{
		height: 105px;
	}
	.social__text-block {
		width: 402px;
		margin-left: 16px;
	}
	.social__name {
	font-size: 18px;
	line-height: 25px;	
	}
	.social__text {
		font-size: 14px;
		line-height: 16px;	
	}
	.social__img {
		width: 64px;
		height: 64px;
	}
	.social__link{
		width: 64px;
		height: 64px;
	}
}
@media only screen and (max-width:860px){
	.social__content {
		display: block;
		text-align: -webkit-center;
		height: 50%;
	}
	.social {
		height: 239px;
		max-width: none;
		
	}
	.social__text-block {
		margin: 0 auto;
		width: 287px;
		text-align: center;
	}
	.social__icons {
		width: 100%;
		display: flex;
		text-align: justify;
	}
	.social__img {
		width: 26px;
		height: 26px;
	}
		.social__link{
		width: 26px;
		height: 26px;
	}
}
